@use "./base.scss";


li.section-li>.section {
  grid-template-columns: fit-content(10em) 3fr 1fr;
  display: grid
}

li.section-li {
  margin-bottom: 0.2em;
}

blockquote {
  border-left-width: 5px;

  p {
    color: #757575;
  }
}

.article-title {
  color: #2b7cf3;
  font-size: 2rem;
}

footer {
  line-height: 1.2rem !important;
}

// Styling for Figures
figure {
  margin: 1em;
}

figcaption {
  text-align: center;
  margin-top: .35em;
  font-size: 0.9em;
  opacity: 0.8;
}

article img {
  display: block;
  margin: 0 auto;
}
