@use "./base.scss";


li.section-li>.section {
  grid-template-columns: fit-content(10em) 3fr 1fr;
  display: grid
}

li.section-li {
  margin-bottom: 0.2em;
}

blockquote {
  border-left-width: 5px;

  p {
    color: #757575;
  }
}

.article-title {
  color: #2b7cf3;
  font-size: 2rem;
  margin: 1rem 0;
}

footer {
  p {
    line-height: 1.2rem;
  }
}

// Styling for Figures
figure {
  margin: 1em;
}

figcaption {
  text-align: center;
  margin-top: .35em;
  font-size: 0.9em;
  opacity: 0.8;
}

article img {
  display: block;
  margin: 0 auto;
}

.page>#quartz-body {
  .sidebar.right {
    margin-bottom: 3rem;
  }
}

.recent-notes>ul.recent-ul>li {
  margin: 0 0 0.5rem 0;

  .section>.meta {
    margin: 0;
  }
}

ul.recent-ul {
  .section {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    h3 {
      font-size: 1rem;
      line-height: 1rem;
    }

    .desc {
      max-width: 70%;
    }
  }
}

.folder-container div>a {
  font-size: 1.1rem;
  line-height: 1.8rem;
}

@media (max-width: 800px) {
  .page>#quartz-body {
    .sidebar.left {
      flex-wrap: wrap;
    }

    .sidebar div.newline {
      width: 100%;
      height: 1rem;
    }
  }

  .article-title {
    font-size: 1.5rem;
  }

  .explorer {
    padding-right: 10px;

    .explorer-content {
      padding: 5rem 0 2rem 0.4rem;
    }
  }

  .folder-container div>a {
    font-size: 1.2rem;
  }
}

.metacard {
  display: block;
  border: 1px solid var(--lightgray);
  border-radius: 6px;
  padding: 10px 6px;
  margin: 1.2rem 0;

  .meta {
    .key {
      width: 70px;
      align-content: start;
      color: var(--tertiary);
    }

    .value {
      word-break: break-word;
      white-space: normal;

      .value-item+.value-item {
        margin-left: 6px;
      }
    }
  }
}

.banner {
  img {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgb(0 0 0 / 31%) 0%, rgb(0 0 0 / 0%) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgb(0 0 0 / 31%) 0%, rgb(0 0 0 / 0%) 100%);
  }
}

.explorer-content {

  .folder-icon,
  .folder-title {
    color: var(--dark);
  }
}

.page>#quartz-body {
  .sidebar.right {
    margin-bottom: 0;

    .recent-notes {
      max-height: fit-content;
    }
  }
}
